<div class="container">
    <div class="p-profile">
        <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="container">
                        </div>
                    </div>
                    <div class="col-sm-6">
                        <h1>¡WELLCOME!</h1>
                        <h4>This Portfolio represents my final project for Argentina Programa 4.0.</h4>
                        <h5>This Web is public.</h5>
                        <h5>Content edition is Login protected.</h5>
                        <h5>"Resume" page is a CRUD</h5>
                        <h5>This site authenticates through JWT.</h5>
                        <button routerLink="login" routerLinkActive="active" class="btn btn-dark">To Log In/Out click on Power Buttons</button>
                    </div>
                </div>
        </div>
        <img class="img" src="/assets/img/MGlujoyCirc.png" alt="">

    </div>
</div>