<div class="container">
    <div class="p-profile">
        <div class="container text-center">
            <h1>¡WELLCOME TO MY PROTFOLIO!</h1>
            <h3>This Portfolio represents my final project for Argentina Programa 4.0.
                <ul>
                    <li>The Web is public.</li>
                    <li>Content edition is LogIn protected.</li>
                    <li>This site authenticates through JWT.</li>
                    <li>The "Resume" page works as a CRUD with a Spring-Boot Backend and SQL DB.</li>
                    <div class="row">
                        <p class="col-sm-6"><img src="/assets/img/MGlujoyCirc.png" alt="">
                        </p>
                        <p class="col-sm-6">->If you want to get logged off just click on LogIn/Out.</p>
                    </div>
                </ul>
            </h3>
        </div>
    </div>
</div>