<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="about">
                  <div class="aboutHeader">
                    <header>
                      <h2 class="h2 article-title">About me</h2>
                    </header>     
                    <div *ngIf="IsAuthenticated">
                      <div *ngIf = "!aboutInfo.isEdit" class="p-flex">
                          <div class="service-icon-box">
                            <button type="button" class="btn btn-secondary btn-sm" (click) = "onEdit(aboutInfo)">Edit</button>
                          </div>
                          <div class="service-icon-box">
                            <button type="button" class="btn btn-dark btn-sm" >Delete</button>
                          </div>
                      </div>
                      <div *ngIf = "aboutInfo.isEdit" class="p-flex">
                        <div class="service-icon-box">
                          <button type="button" class="btn btn-secondary btn-sm" (click)="update(aboutInfo)" (click)="aboutInfo.isEdit = false">Save</button>
                        </div>
                        <div class="service-icon-box">
                          <button type="button" class="btn btn-dark btn-sm" (click)="aboutInfo.isEdit = false">Cancel</button>
                        </div>
                      </div>
                    </div>
                  </div>                       
                      <section class="about-text">
                        <div *ngIf = "aboutInfo.isEdit">
                          <input type="text" [(ngModel)]= "aboutInfo.aboutme" class= "form-control">
                        </div>
                        <div *ngIf = "!aboutInfo.isEdit">
                          {{aboutInfo.aboutme}}
                        </div>                                      
                      </section>
                      <p>_______________________________</p>                     
                      <section class="text-center">
                        <h3>To see some</h3>
                        <h1>OLD PROJECTS</h1>
                        <h3>Scroll down</h3>
                      </section>
                </div>
            </div>
            <div class="col-sm-5">
                <span>
                    <section class="service">
                        <h3 class="h3 service-title">What i'm doing</h3>              
                        <ul class="service-list">              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/gateway-security-svgrepo-com.svg" alt="design icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item1}}</h4>              
                              <p class="service-item-text"></p>
                            </div>           
                          </li>              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/web-development-svgrepo-com.svg" alt="Web development icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item2}}</h4>              
                              <p class="service-item-text"></p>
                            </div>   
                          </li>              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/linux-svgrepo-com.svg" alt="linux app icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item3}}</h4>              
                              <p class="service-item-text"></p>
                            </div>             
                          </li>              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/networking-share-svgrepo-com.svg" alt="networking icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item4}}</h4>              
                              <p class="service-item-text"></p>
                            </div>                                       
                          </li>    
                        </ul>           
                      </section>
                </span>
            </div>
        </div>
        <div>
          <h2></h2>
          <div id="projects-grid">
            <a style="text-decoration: none;" href="https://codepen.io/maximiliano-glujoy/pen/wvJXwQL?editors=1100" class="project-tile" target="_blank">
                <img id="img" src="https://raw.githubusercontent.com/mglujoy/git_test/main/PersonalPort.png" alt="Calistenia">                                      
                <p>Personal Portfolio</p> 
            </a>                      
        </div>
            <div id="projects-grid">
                <a style="text-decoration: none;" href="https://codepen.io/maximiliano-glujoy/pen/eYvrOGB" class="project-tile" target="_blank">
                    <img id="img" src="https://raw.githubusercontent.com/mglujoy/git_test/main/CalisTec.jpg" alt="Calistenia">                                      
                    <p>Calistenia</p> 
                </a>                      
            </div>
            <div id="projects-grid">
                <a style="text-decoration: none;" href="https://codepen.io/maximiliano-glujoy/pen/NWpwMdK" class="project-tile" target="_blank">
                    <img id="img" src="https://raw.githubusercontent.com/mglujoy/git_test/main/CalisClases.jpg" alt="Clases">                     
                    <p>Clases de Calistenia</p>
                </a>                
            </div>
            <div id="projects-grid">
                <a style="text-decoration: none;" href="https://codepen.io/maximiliano-glujoy/pen/dyvWbae" class="project-tile" target="_blank">
                    <img id="img" src="https://raw.githubusercontent.com/mglujoy/git_test/main/Encuesta.jpg" alt="Encuesta">                     
                    <p>Encuesta de Permanencia en Argentina</p>
                </a>                
            </div>
            <div id="projects-grid">
                <a style="text-decoration: none;" href="https://codepen.io/maximiliano-glujoy/pen/yLMMpQr" class="project-tile" target="_blank">
                    <img id="img" src="https://raw.githubusercontent.com/mglujoy/git_test/main/Const.jpg" alt="Constitución">                     
                    <p>Constitución Argentina</p>  
                </a>                
            </div>
        </div>
    </div>
</section>