header {
    padding: 20px 0;
}

header ul {
    display: flex;
    align-items: center;
}

header ul li {
    padding: 0 40px;
}
header ul li span:first-child {
    padding-left: 0;
}
header ul li span:last-child {
    padding-right: 0;
}
header ul li a {
    color: black;
    font-weight: 500;    
    position: relative;
}
.apbanner {
    background-color: #eae6e6;
    
    width: 150px;
    border-radius: 14px;
}
