<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                   <li>
                    <a href=""><img routerLink="welcome" routerLinkActive="active" class="apbanner" src="../../assets/img/argprog.png" alt="argentina programa">
                    </a>
                   </li>
                </ul>
                <ul>
                    <li>
                        <a href="login">LOGIN/OUT</a>
                    </li>
                    <li>
                        <a href="home" >HOME</a>
                    </li>
                    <li>
                        <a href="about" >ABOUT</a>
                    </li>
                    <li>
                        <a href="resume" >RESUME</a>
                    </li>
                    <li>
                        <a href="reach">REACH</a>
                    </li>    
                    <li></li>                
                </ul>
            </div>
        </div>
    </div>
</header>