<header>
    <div class="container">
        <div class="row">
            <div class="col-sm-12 p-flex p-flex-align-center p-flex-jc-sb">
                <ul>
                   <li>
                    <a href=""><img routerLink="welcome" routerLinkActive="active" class="apbanner" src="../../assets/img/argprog.png" alt="argentina programa">
                    </a>
                   </li>
                </ul>
                <ul>
                    <li>
                        <a href="login">
                          <img src="/assets/img/login.gif" alt="">
                        </a>
                    </li>
                    <li>
                        <a href="home" >HOME</a>
                    </li>
                    <li>
                        <a href="about" >ABOUT</a>
                    </li>
                    <li>
                        <a href="resume" >RESUME</a>
                    </li>
                    <li>
                        <a href="reach">REACH</a>
                    </li>
                    <li>
                      <a href="login"><img src="/assets/img/power-off-button.gif" alt=""></a>
                    </li>    
                    <li class="social-item">
                        <a href= "https://ar.linkedin.com/in/mglujoy" class="social-link"> 
                          <img src="../../assets/img/linkedin-svgrepo-com.svg" alt="">
                        </a>
                      </li>                  
                      <li class="social-item">
                        <a href= "https://github.com/mglujoy" class="social-link"> 
                          <img src="../../assets/img/github-svgrepo-com.svg" alt="">
                        </a>
                      </li>                  
                      <li class="social-item">
                        <a href= "https://www.instagram.com/maxiglujoy/" class="social-link"> 
                          <img src="../../assets/img/instagram-svgrepo-com.svg" alt="">
                        </a>
                      </li>
                      <li class="social-item">
                        <a href= "https://mobile.twitter.com/maxiglujoy" class="social-link"> 
                          <img src="../../assets/img/twitter-svgrepo-com.svg" alt="">
                        </a>
                      </li> 
                </ul>
            </div>
        </div>
    </div>
</header>