.about .article-title { margin-bottom: 15px; }

.about-text p { margin-bottom: 15px; }

.service { margin-bottom: 35px; }

.service-title { margin-bottom: 20px; }

.service-list {
  display: grid;


}

.service-item {
  position: relative;
  display: flex;
  padding: 20px;
  border-radius: 14px;
  z-index: 1;
}
.service-item-title {
  padding-left: 10px;
}

.service-icon-box {
  padding-left: 10px;
}