<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <div class="about">
                  <div class="aboutHeader">
                    <header>
                      <h2 class="h2 article-title">About me</h2>
                    </header>     
                    <div>
                      <div *ngIf = "!aboutInfo.isEdit" class="p-flex">
                          <div class="service-icon-box">
                            <button type="button" class="btn btn-secondary btn-sm" (click) = "onEdit(aboutInfo)">Edit</button>
                          </div>
                          <div class="service-icon-box">
                            <button type="button" class="btn btn-dark btn-sm" >Delete</button>
                          </div>
                      </div>
                      <div *ngIf = "aboutInfo.isEdit" class="p-flex">
                        <div class="service-icon-box">
                          <button type="button" class="btn btn-secondary btn-sm" >Save</button>
                        </div>
                        <div class="service-icon-box">
                          <button type="button" class="btn btn-dark btn-sm" (click)="aboutInfo.isEdit = false">Cancel</button>
                        </div>
                      </div>
                    </div>

                           

                  </div>                       
                      <section class="about-text">
                        <div *ngIf = "aboutInfo.isEdit">
                          <input type="text" [(ngModel)]= "aboutInfo.aboutme" class= "form-control">
                        </div>
                        <div *ngIf = "!aboutInfo.isEdit">
                          {{aboutInfo.aboutme}}
                        </div>                                      
                      </section>
                </div>
            </div>
            <div class="col-sm-5">
                <span>
                    <section class="service">
                        <h3 class="h3 service-title">What i'm doing</h3>              
                        <ul class="service-list">              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/gateway-security-svgrepo-com.svg" alt="design icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item1}}</h4>              
                              <p class="service-item-text">-----</p>
                            </div>
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                            </div>
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-dark btn-sm" >Delete</button>
                            </div>              
                          </li>              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/web-development-svgrepo-com.svg" alt="Web development icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item2}}</h4>              
                              <p class="service-item-text">-----</p>
                            </div>   
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                            </div>
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-dark btn-sm">Delete</button>
                            </div>
                          </li>              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/linux-svgrepo-com.svg" alt="linux app icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item3}}</h4>              
                              <p class="service-item-text">-----</p>
                            </div>
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                            </div>
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-dark btn-sm">Delete</button>
                            </div>              
                          </li>              
                          <li class="service-item">              
                            <div class="service-icon-box">
                              <img src="../../assets/img/networking-share-svgrepo-com.svg" alt="networking icon" width="40">
                            </div>              
                            <div class="service-content-box">
                              <h4 class="h4 service-item-title">{{aboutInfo.whatimdoing.item4}}</h4>              
                              <p class="service-item-text">-----</p>
                            </div>
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-secondary btn-sm">Edit</button>
                            </div>
                            <div class="service-icon-box">
                              <button type="button" class="btn btn-dark btn-sm">Delete</button>
                            </div>              
                          </li>              
                        </ul>              
                      </section>
                </span>
            </div>
        </div>
    </div>
</section>