.p-profile {
    background: url(../../assets/img/MGlujoyCirc.png);
    width: 100%;
    height: 500px;    
    background-size: cover;
    background-position: top;
    background-repeat: no-repeat;
}