<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-7">
                <article class="contact">
                    <header>
                      <h2 class="h2 article-title">Reach</h2>
                    </header>            
                    <section class="contact-form">                
                      <h3 class="h3 form-title">Contact Form</h3>                
                      <form action="#" class="form">
                        <div class="input-wrapper">
                          <input type="text" name="fullname" class="form-input" placeholder="Full name" required >            
                          <input type="email" name="email" class="form-input" placeholder="Email address" required >                      
                        </div>            
                        <textarea name="message" class="form-input" placeholder="Your Message" required ></textarea>            
                        <button class="btn btn-dark btn-lg" type="submit" >                          
                          <span>Send Message</span>
                        </button>            
                      </form>
                    </section>                
                  </article>                
            </div>
            <div class="col-sm-5">
                <section class="mapbox">
                    <figure>
                      <iframe src="https://www.google.com/maps/embed?pb=!1m10!1m8!1m3!1d52538.599812736116!2d-58.4247936!3d-34.6126952!3m2!1i1024!2i768!4f13.1!5e0!3m2!1ses-419!2sar!4v1673381138093!5m2!1ses-419!2sar" width="600" height="850" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>                      
                    </figure>
                  </section>                
            </div>
        </div>
    </div>
</section>

