<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>            
            <div class="col-sm-7">
                <span>
                    <aside *ngFor = "let h of home" class="sidebar">
                      <div>
                        <button *ngIf="IsAuthenticated" (click)= "updateHome(h.id)" class="btn btn-sm btn-secondary" style="margin-left: 10px;"><img src="/assets/img/pencil.svg" alt=""></button>
                      </div>
                        <div class="sidebar-info">       
                          <div class="info-content">
                            <h1 class="name" title="Maximiliano Glujoy">{{h.name}}</h1>                  
                            <p class="title">{{h.description}}</p>
                          </div>                 
                        </div>                  
                        <div class="sidebar-info_more">                  
                          <div class="separator"></div>                  
                          <ul class="contacts-list">                  
                            <li class="contact-item">                  
                              <div class="icon-box">
                                <img src="../../assets/img/email-svgrepo-com.svg" alt="">                              
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title"></p>                  
                                <a href="mailto:mglujoy@gmail.com" class="contact-link">{{h.email}}</a>
                              </div>                  
                            </li>                  
                            <li class="contact-item">                  
                              <div class="icon-box">      
                                <img src="../../assets/img/phone-svgrepo-com.svg" alt="">                          
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title"></p>                  
                                <a href="tel:+5491164364214" class="contact-link">{{h.phone}}</a>
                              </div>                  
                            </li>                  
                            <li class="contact-item">                  
                              <div class="icon-box"> 
                                <img src="../../assets/img/calendar-cells-svgrepo-com.svg" alt="">
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title"></p>                  
                                <time class="contact-link" datetime="1986-12-29">{{h.birth}}</time>
                              </div>                  
                            </li>                  
                            <li class="contact-item">                  
                              <div class="icon-box">
                                <img src="../../assets/img/location-svgrepo-com.svg" alt="">
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title"></p>                  
                                <address class="contact-link">{{h.location}}</address>
                              </div>                  
                            </li>                  
                          </ul>                  
                          <div class="separator"></div>                  
                          <ul class="social-list">                  
                            <li class="social-item">
                              <a href= {{h.linkedin}} class="social-link"> 
                                <img src="../../assets/img/linkedin-svgrepo-com.svg" alt="">
                              </a>
                            </li>                  
                            <li class="social-item">
                              <a href= {{h.github}} class="social-link"> 
                                <img src="../../assets/img/github-svgrepo-com.svg" alt="">
                              </a>
                            </li>                  
                            <li class="social-item">
                              <a href= {{h.instagram}} class="social-link"> 
                                <img src="../../assets/img/instagram-svgrepo-com.svg" alt="">
                              </a>
                            </li>
                            <li class="social-item">
                              <a href= {{h.twitter}} class="social-link"> 
                                <img src="../../assets/img/twitter-svgrepo-com.svg" alt="">
                              </a>
                            </li>                                              
                          </ul>                  
                        </div>                  
                    </aside>
                </span>
            </div>
        </div>
    </div>
</section>