<section>
    <div class="container">
        <div class="row">
            <div class="col-sm-5">
                <div class="p-profile"></div>
            </div>
            <div class="col-sm-7">
                <span>
                    <aside class="sidebar">
                        <div class="sidebar-info">                                            
                          <div class="info-content">
                            <h1 class="name" title="Maximiliano Glujoy">Maximiliano Glujoy</h1>                  
                            <p class="title">Web Development</p>
                            <p class="title">and Cybersecurity student.</p>
                          </div>                 
                        </div>                  
                        <div class="sidebar-info_more">                  
                          <div class="separator"></div>                  
                          <ul class="contacts-list">                  
                            <li class="contact-item">                  
                              <div class="icon-box">                                
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title">Email</p>                  
                                <a href="mailto:mglujoy@gmail.com" class="contact-link">mglujoy@gmail.com</a>
                              </div>                  
                            </li>                  
                            <li class="contact-item">                  
                              <div class="icon-box">                                
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title">Phone</p>                  
                                <a href="tel:+5491164364214" class="contact-link">+549 (11) 64364214</a>
                              </div>                  
                            </li>                  
                            <li class="contact-item">                  
                              <div class="icon-box">
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title">Birthday</p>                  
                                <time datetime="1986-12-29">December 29, 1986</time>
                              </div>                  
                            </li>                  
                            <li class="contact-item">                  
                              <div class="icon-box">
                              </div>                  
                              <div class="contact-info">
                                <p class="contact-title">Location</p>                  
                                <address>Buenos Aires, Argentina</address>
                              </div>                  
                            </li>                  
                          </ul>                  
                          <div class="separator"></div>                  
                          <ul class="social-list">                  
                            <li class="social-item">
                              <a href="#" class="social-link"> <i class="fab fa-facebook-f"></i>
                              </a>
                            </li>                  
                            <li class="social-item">
                              <a href="#" class="social-link"> <i class="fab fa-twitter"></i>
                              </a>
                            </li>                  
                            <li class="social-item">
                              <a href="#" class="social-link"> <i class="fab fa-instagram"></i>
                              </a>
                            </li>
                            <li class="social-item">
                              <a href="#" class="social-link"> <i class="fab fa-linkedin-in"></i>
                              </a>
                            </li>                  
                          </ul>                  
                        </div>                  
                      </aside>
                </span>
            </div>
        </div>
    </div>
</section>