<section>
    <div class="container">
      <div>
        <div>
          <a routerLink="resume-add" routerLinkActive="active">Add</a>
        </div> 
        <ul *ngFor = "let edu of education">
          <li>
            <div>
              {{edu.duration}} {{edu.institution}} {{edu.name}}
            </div>           
          </li>
          <!--
          <button (click)="updateEducation(education.id)" class="btn btn-info">Edit</button>
          <button (click)="deleteEducation(education.id)" class="btn btn-info" style="margin-left: 10px;">Delete</button>
            -->
        </ul>
      </div>
        <div class="row">
            <div class="col-sm-5">
                <div>
                    <section class="courses">
                      <section class="skill">
                        <h3 class="h3 skills-title">My skills</h3>
                        <ul class="skills-list content-card">
                          <li class="skills-item">
                            <div class="title-wrapper">
                              <h5 class="h5">Web Development</h5>
                            </div>
                          </li>
                          <li class="skills-item">
                            <div class="title-wrapper">
                              <h5 class="h5">Cyber Security</h5>
                            </div>
                          </li>
                          <li class="skills-item">
                            <div class="title-wrapper">
                              <h5 class="h5">Networking</h5>
                            </div>
                          </li>
                          <li class="skills-item p-flex">
                            <div class="title-wrapper">
                              <h5 class="h5">English</h5>
                            </div>
                            <div class="progress" style="height: 20px; width: 75%;">
                              <div class="progress-bar bg-secondary progress-bar-striped progress-bar-animated" role="progressbar" style="width: 100%" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">100%</div>
                            </div>
                          </li>
                        </ul>
                      </section>
                        <h3 class="h3 clients-title">Courses</h3>              
                        <ul class="skills-list content-card">
                          <li class="skills-item">
                            <div class="title-wrapper">
                              <h5 class="h5">FreeCodeCamp</h5>
                            </div>
                          </li>
                          <li class="skills-item">
                            <div class="title-wrapper">
                              <h5 class="h5">TryHackMe</h5>
                            </div>
                          </li>
                          <li class="skills-item">
                            <div class="title-wrapper">
                              <h5 class="h5">Cisco</h5>
                            </div>
                          </li>
                          <li class="skills-item">
                            <div class="title-wrapper">
                              <h5 class="h5">Argentina Programa</h5>
                            </div>
                          </li>
                        </ul>                                      
                      </section>                             
                </div>
            </div>
            <div class="col-sm-7">
                <article class="resume">
                    <header>
                      <h2 class="h2 article-title">Resume</h2>
                    </header>
                    <section class="timeline">
                      <div class="title-wrapper">
                        <div class="icon-box">          
                        </div>
                        <h3 class="h3">Education</h3>
                      </div>                      
                      <ol class="timeline-list">
                        <li class="timeline-item">
                          <h4 class="h4 timeline-item-title">Universidad Nacional del Sur</h4>
                          <span>2005 — 2010</span>
                          <p class="timeline-text">
                            Pharmacist
                          </p>
                        </li>
                        <li class="timeline-item">
                          <h4 class="h4 timeline-item-title">Universidad de Buenos Aires</h4>
                          <span>2015 — 2020</span>
                          <p class="timeline-text">
                            Sterilization Specialist
                          </p>
                        </li>
                        <li class="timeline-item">
                          <h4 class="h4 timeline-item-title">Universidad de San Isidro</h4>
                          <span>2022 — Ongoing</span>
                          <p class="timeline-text">
                            Cyber Security Technician
                          </p>
                        </li>
                      </ol>
                    </section>
                    <section class="timeline">
                      <div class="title-wrapper">
                        <div class="icon-box">          
                        </div>
                        <h3 class="h3">Experience</h3>
                      </div>
                      <ol class="timeline-list">
                        <li class="timeline-item">
                          <h4 class="h4 timeline-item-title">Pharmacist</h4>
                          <span>2010 — Present</span>
                          <p class="timeline-text">            
                          </p>
                        </li>
                        <li class="timeline-item">
                          <h4 class="h4 timeline-item-title">Cyber Security</h4>
                          <span>2013 — 2015</span>
                          <p class="timeline-text">
                            No Experience
                          </p>
                        </li>
                        <li class="timeline-item">
                          <h4 class="h4 timeline-item-title">Web Developer</h4>
                          <span>2010 — 2013</span>
                          <p class="timeline-text">
                            No Experience
                          </p>
                        </li>
                      </ol>
                    </section>                    
                  </article>                
            </div>
        </div>
    </div>
</section>
